<h2>Create New User</h2>

<form>
    <div class="formLine">
        <label for="userFirstName">User First Name: </label>
        <input type="text" id="userFirstName" name="userFirstName" formControlName="userFirstName">
    </div>
    <div class="formLine">
        <label for="userLastName">User Last Name: </label>
        <input type="text" id="userLastName" name="userLastName" formControlName="userLastName">
    </div>
    <div class="formLine">
        <label for="userJobTitle">User Job Title: </label>
        <input type="text" id="userJobTitle" name="userJobTitle" formControlName="userJobTitle">
    </div>

    <button class="button">Submit</button>
</form>
