<h2>Edit {{ user.displayName }}</h2>

<form [formGroup]="updateUserForm">

  <div class="formLine">
    
    <label for="firstName">User First Name: </label>
    <input type="text" id="firstName" name="firstName" formControlName="firstName" />
  
  </div>
  <div class="formLine">
    <label for="lastName">User Last Name: </label>
    <input type="text" id="lastName" name="lastName" formControlName="lastName" />
  </div>
  <div class="formLine">
    <label for="username">Username: </label>
    <!-- <input type="text" id="username" name="Username" formControlName="username"/> -->
     <p>
      {{ user.username}}
     </p>
  </div>
  <div class="formLine">
    <label for="displayName">User Display Name: </label>
    <input type="text" id="displayName" name="displayName" formControlName="displayName" />
  </div>
  <div class="formLine">
    <label for="email">User email: </label>
    <input type="text" id="email" name="email" formControlName="email" />
  </div>
  <div class="formLine">
    <label for="managerId">Manager ID: </label>
    <input type="string" id="mangerId" name="managerId" formControlName="managerId" />
  </div>
  <div class="formLine">
    <label for="manager">Manager: </label>
    <input type="string" id="manager" name="manager" formControlName="manager" />
  </div>
  <div class="formLine">
    <label for="userId">User ID: </label>
    <input type="string" id="userId" name="userId" formControlName="userId" />
  </div>
  <div class="formLine">
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" formControlName="password"  />
  </div>
  <!-- <div class="formLine">
    <label for="softwareVersion">Software Version: </label>
    <input type="string" id="softwareVersion" name="softwareVersion" formControlName="softwareVersion" />
  </div> -->
  <div class="formLine">
    <label for="administrator">Administrator: </label>
    <input type="string" id="administrator" name="administrator" formControlName="administrator" />
  </div>
  <div class="formLine">
    <label for="administratorId">Administrator ID: </label>
    <input type="string" id="administratorId" name="administratorId" formControlName="administratorId" />
  </div>
  <div class="formLine">
    <label for="active">Active: </label>
    <input type="string" id="active" name="active" formControlName="active" />
    <!-- <p-checkbox formControlName="active"  inputId="active" value="true" /> -->
  </div>
  <!-- <div class="formLine">
    <label for="department">Department: </label>
    <input type="string" id="department" name="department" formControlName="department" />
  </div> -->
  <p-button label="Submit" severity="primary" class="button" (click)="updateUser()" />
  <!-- [disabled]="updateUserForm.invalid" -->
  <section id="errorMessages"> 
    @if(firstName?.touched || firstName?.dirty){
      <div>
          {{ firstName?.errors | error : 'User First Name' : 4}}
      </div>
    }
    @if(lastName?.touched || lastName?.dirty){
      <div>
          {{ lastName?.errors | error : 'User Last Name' : 4}}
      </div>
    }
    @if(username?.touched || username?.dirty){
      <div>
          {{ username?.errors | error : 'Username' : 4}}
      </div>
    }
    @if(displayName?.touched || displayName?.dirty){
      <div>
          {{ displayName?.errors | error : 'Displayname' : 4}}
      </div>
    }
    @if(email?.touched || email?.dirty){
      <div>
          {{ email?.errors | error : 'Email' : 4}}
      </div>
    }
    @if(managerId?.touched || managerId?.dirty){
      <div>
          {{ firstName?.errors | error : 'User First Name' : 4}}
      </div>
    } 

    @if(userId?.touched || userId?.dirty){
      <div>
          {{ userId?.errors }}
      </div>
    }
    </section>
  
</form>