
<p-card id="card" header= "{{ user.lastName }}, {{ user.firstName }}" subheader="User ID: {{ user.userId }}" [style]="{ width: '360px', margin: '0.5em' }">
    <ng-template pTemplate="header">
    </ng-template>
    <p>
        Username: {{ user.username }}
    </p>
    <p>
       Email: {{ user.email }}
    </p>
    <p>
        Display Name: {{ user.displayName }}
    </p>
    <p>
        Administrator: {{ user.administrator }}
    </p>
        {{ user.managerId }}
    
    @if(user.active){
        <p>User is active</p>
    } @else{
        <p>User is inactive</p>
    }
    <p>
        Department: {{ user.department }}
    </p>
       

    
    @for(account of userAccounts; track $index){
    <p>
        Account:
        {{ account.accountAppName }}
    </p>
}
    <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
            <p-button  label="Edit" severity="secondary" class="w-full" styleClass="w-full" [text]="true" />
            <p-button label="Delete" severity="warning" class="w-full" styleClass="w-full" [text]="true"/>
        </div>
    </ng-template>
</p-card>